.bar {
    display: block;
    height: 5px;
    width: 50px;
    background-color: var(--key-color);
    margin: 10px auto;
}
  
  .button {
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: auto 0;
    transition: all .7s ease;
  }
  
  .nav_left {
    position: fixed;
    left: 20px;
    top: 10px;
  }
  
  .nav_left.visible_xs {
    z-index: 3;
  }
  
  .hidden_xs {
    display: none;
  }
  
  .middle {
    margin: 0 auto;
  }
  
  .bar {
    transition: all .7s ease;
  }
  
  .nav_left.visible_xs .active .bar {
    background-color: var(--key-color);
    transition: all .7s ease;
  }
  
  .button.active .top {
    -webkit-transform: translateY(15px) rotateZ(45deg);
    -moz-transform: translateY(15px) rotateZ(45deg);
    -ms-transform: translateY(15px) rotateZ(45deg);
    -o-transform: translateY(15px) rotateZ(45deg);
    transform: translateY(15px) rotateZ(45deg);
  }
  
  .button.active .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
  }
  
  .button.active .middle {
    width: 0;
  }
  
  .move_to_left {
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    transform: translateX(-400px);
  }
  