#header {
    text-align: center;
    border: none;
}

.primaryMenu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: auto !important;
    -webkit-box-ordinal-group: 0;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background: #fff;
    border-bottom: 1px solid #efefef;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100% !important;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.065);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.065);
    z-index: 2;
    overflow: hidden;
    overflow-y: auto;
}
@media (max-width: 991.98px) {
    .primaryMenu {
        position: fixed;
        width: 100%;
        height: auto !important;
        overflow: visible;
        padding: 0rem 1rem;
    }
}




@media (max-width: 991.98px) {
    .navbarExpand .navbar-collapse {
      position: absolute;
      top: 99%;
      right: 0;
      left: 0;
      background: #fff;
      margin-top: 0px;
      z-index: 1000;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    .navbarExpand .navbar-collapse .navbar-nav {
      overflow: hidden;
      overflow-y: auto;
      max-height: 65vh;
      padding: 15px;
    }
    .navbarExpand ul.navbar-nav li {
      display: block;
      border-bottom: 1px solid #eee;
      margin: 0;
      padding: 0;
    }
    .navbarExpand ul.navbar-nav li:last-child {
      border: none;
    }
    .navbarExpand.navbar-text-light .navbar-collapse {
      background: rgba(0, 0, 0, 0.95);
    }
    .navbarExpand.navbar-text-light .navbar-collapse ul.navbar-nav li {
      border-color: rgba(250, 250, 250, 0.15);
    }
}



/* ------------------------- Nav Links ------------------------- */
.navLink {
    color: rgba(250, 250, 250, 0.9);
}
.navLink:hover {
    color: #20c997;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* ------------------------- Social Icons ------------------------- */
.socialIcons {
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
}
.socialIcons li {
    margin: 0px 6px 4px;
    padding: 0;
    overflow: visible;
}
.socialIcons li a {
    display: block;
    height: 26px;
    line-height: 26px;
    width: 26px;
    font-size: 18px;
    text-align: center;
    color: #4d555a;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
  
.socialIconsTwitter a:hover {
    color: #00ACEE;
}
.socialIconsFacebook a:hover {
    color: #3B5998;
}
.socialIconsLinkedin a:hover {
    color: #0E76A8;
}
.socialIconsDribbble a:hover {
    color: #ea4c89;
}
li:hover.socialIconsGithub a {
    color: #333333;
}
  

/* ------------------------- Hamburger Menu ------------------------- */
.navbarToggler {
    width: 25px;
    height: 30px;
    padding: 10px;
    margin: 18px 15px;
    position: relative;
    border: none;

    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: block;

    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    outline: none !important
}
.navbarToggler span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
.navbarToggler span:nth-child(1) {
    top: 7px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.navbarToggler span:nth-child(2) {
    top: 14px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.navbarToggler span:nth-child(3) {
    top: 21px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.navbarToggler.show span:nth-child(1) {
    top: 3px;
    left: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.navbarToggler.show span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
.navbarToggler.show span:nth-child(3) {
    top: 21px;
    left: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (min-width: 992px) {
    .navbarToggler {
        display: none;
    }
}