body {
  margin: 0;
  padding: 1rem;
}
.masonry-with-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 500px; }
  .masonry-with-flex div {
    width: auto;
    background: #975A58;
    color: white;
    margin: 0 1rem 1rem 0;
    text-align: center;
    font-weight: 900;
    font-size: 2rem; }
  .masonry-with-flex div:nth-child(1) {
    height: 334px;
    line-height: 334px; }
  .masonry-with-flex div:nth-child(2) {
    height: 428px;
    line-height: 428px; }
  .masonry-with-flex div:nth-child(3) {
    height: 432px;
    line-height: 432px; }
  .masonry-with-flex div:nth-child(4) {
    height: 292px;
    line-height: 292px; }
  .masonry-with-flex div:nth-child(5) {
    height: 312px;
    line-height: 312px; }
  .masonry-with-flex div:nth-child(6) {
    height: 191px;
    line-height: 191px; }
  .masonry-with-flex div:nth-child(7) {
    height: 302px;
    line-height: 302px; }
  .masonry-with-flex div:nth-child(8) {
    height: 224px;
    line-height: 224px; }
  .masonry-with-flex div:nth-child(9) {
    height: 475px;
    line-height: 475px; }
  .masonry-with-flex div:nth-child(10) {
    height: 440px;
    line-height: 440px; }
  .masonry-with-flex div:nth-child(11) {
    height: 426px;
    line-height: 426px; }
  .masonry-with-flex div:nth-child(12) {
    height: 362px;
    line-height: 362px; }
  .masonry-with-flex div:nth-child(13) {
    height: 129px;
    line-height: 129px; }
  .masonry-with-flex div:nth-child(14) {
    height: 344px;
    line-height: 344px; }
  .masonry-with-flex div:nth-child(15) {
    height: 236px;
    line-height: 236px; }
  .masonry-with-flex div:nth-child(16) {
    height: 378px;
    line-height: 378px; }
  .masonry-with-flex div:nth-child(17) {
    height: 312px;
    line-height: 312px; }
  .masonry-with-flex div:nth-child(18) {
    height: 172px;
    line-height: 172px; }
  .masonry-with-flex div:nth-child(19) {
    height: 474px;
    line-height: 474px; }
  .masonry-with-flex div:nth-child(20) {
    height: 252px;
    line-height: 252px; }
  .masonry-with-flex div:nth-child(21) {
    height: 355px;
    line-height: 355px; }
  .masonry-with-flex div:nth-child(22) {
    height: 401px;
    line-height: 401px; }
  .masonry-with-flex div:nth-child(23) {
    height: 369px;
    line-height: 369px; }
  .masonry-with-flex div:nth-child(24) {
    height: 449px;
    line-height: 449px; }
  .masonry-with-flex div:nth-child(25) {
    height: 411px;
    line-height: 411px; }
  .masonry-with-flex div:nth-child(26) {
    height: 122px;
    line-height: 122px; }
  .masonry-with-flex div:nth-child(27) {
    height: 262px;
    line-height: 262px; }
  .masonry-with-flex div:nth-child(28) {
    height: 154px;
    line-height: 154px; }
  .masonry-with-flex div:nth-child(29) {
    height: 308px;
    line-height: 308px; }
  .masonry-with-flex div:nth-child(30) {
    height: 327px;
    line-height: 327px; }
  .masonry-with-flex div:nth-child(31) {
    height: 374px;
    line-height: 374px; }
  .masonry-with-flex div:nth-child(32) {
    height: 106px;
    line-height: 106px; }
  .masonry-with-flex div:nth-child(33) {
    height: 340px;
    line-height: 340px; }
  .masonry-with-flex div:nth-child(34) {
    height: 492px;
    line-height: 492px; }
  .masonry-with-flex div:nth-child(35) {
    height: 475px;
    line-height: 475px; }
  .masonry-with-flex div:nth-child(36) {
    height: 373px;
    line-height: 373px; }