.tile {
    position: relative;
    background-color: grey;
    width: 100%;
    border-radius: .25rem;
    overflow: hidden;
    padding-bottom: 80%;
}

.tileImage {
    transition-duration: 0.5s;
    border-radius: .25rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tileImageContainer {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlayContainer {
    display: flex;
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay {
    text-align: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.tile:hover > .tileImageContainer {
    transition-duration: 0.3s;
    transform: scale(1.01);
    filter: blur(1px);
    opacity: 0.5;
}

.tile:hover > .overlayContainer {
    transition-duration: 0.3s;
    opacity: 1;
}
