.about {
    margin: 0 0 10px;
    text-align: center;
}
  
.about .cover_author_image {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    border-radius: 100%;
    overflow: hidden;
    background-color: var(--key-color);
}
  
.about img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.35s;
}
  
.about img:hover {
    transform: scale3d(0.9, 0.9, 1);
}
  
.about .author_name {
    margin: 0 0 10px;
    position: relative;
    padding-bottom: 15px;

    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--light-white);
}
  
.about .author_name::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: var(--light-white);
}
  
.about p {
    font-size: 16px;
    margin: 0 0 10px;
}

.about .intro { 
    color: var(--light-white);
    line-height: 0.7;
}