<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
  <title>{{ page.title | default: "PokerTracker" }}</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  {% include styles/main.css %}
</head>
<body>
  {% include components/nav-bar.html %}

  <main>
    {{ content }}
  </main>

  {% include components/fab.html %}
  {% include scripts/data-store.js %}
  {% include scripts/app.js %}
</body>
</html>