:root {
    --key-color: #fa8072;
    --key-color-dark: #db7165;

    --light-black: #212529;
    --dark-black: #111418;
    
    --white: #fff;
    --light-white: #cbc7c3;
    --dark-white: #818181;
}

html {
    scroll-behavior: smooth;
}

html, body {
    font-family: "Poppins", sans-serif !important;
}

a {
    text-decoration: none !important;
}

section {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.sectionUnderline {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-bottom: 3px solid var(--key-color);
}
